@model BookClub.Models.Book

<h1>Add New Book</h1>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
  </div>
  <div class="form-group">
    <input type="submit" value="Add Author">
    <small class="form-text text-muted"><a asp-action="Index">Cancel</a></small>
  </div>
}