<h1>Books</h1>

<table>
  @foreach (Book book in Model)
  {
    <td>@book.Title</td>
    @* <td>
      @foreach (AuthorBook author in book.Authors)
      {
        author.
      }
    </td> *@
    <td><a asp-action="Details">View Details</a></td>
  }
</table>

<a asp-action="Create">Add book</a>
<a asp-controller="Home">Home</a>