<h1>Books</h1>

<table class="table table-striped">
  @foreach (Book book in Model)
  {
    <tr>
      <td>@book.Title</td>
      @* <td>
        @foreach (AuthorBook author in book.Authors)
        {
          author.
        }
      </td> *@
      <td><a asp-action="Edit" asp-route-id="@book.BookId">Edit</a></td>
      <td><a asp-action="Details" asp-route-id="@book.BookId">View Details</a></td>
      <td>@Html.ActionLink("Add author", "AddAuthor", new { id = book.BookId })</td>
    </tr>
  }
</table>

<a asp-action="Create">Add book</a>
<a asp-controller="Home">Home</a>