@using BookClub.ViewModels
@model LoginViewModel

<h1>Sign In</h1>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(m => m.Email)
    <input class="form-control" asp-for="Email" required>
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Password)
    <input type="password" class="form-control" asp-for="Password" required>
  </div>
  <div class="form-group">
    <input type="submit" value="Log in" class="btn btn-default" />  
  </div>
}