@using BookClub.ViewModels
@model LoginViewModel

<h1>Log In</h1>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
  </div>
  <div class="form-group">
    <input type="submit" value="Log in" class="btn btn-default" />  
  </div>
}