<nav class="navbar fixed-bottom navbar-light bg-light">
  <a href="https://github.com/KristaRutz/Week-12-Advanced-Databases-and-Authentication-Project">Fork me on GitHub</a>
  <a class="navbar-brand">Book Club</a><span> &copy; 2020 <strong>Krista Rutz</strong></span>
  
</nav>