<div id="header">
  <button class="btn btn-light"><a  asp-controller="Home">Book Club Home</a></button>
  <button class="btn btn-light">@Html.ActionLink("My Account", "Index", "Account")</button></p>  
</div>