<h1>Authors</h1>

<table class="table table-striped">
  @foreach (Author author in Model)
  {
    <tr>
      <td>@author.Name</td>
      <td><a asp-action="Details" asp-route-id="@author.AuthorId">View Details</a></td>
      <td>@Html.ActionLink("Edit author", "Edit", new { id = author.AuthorId })</td>
    </tr>
  }
</table>
<br>
<a asp-action="Create">Add author</a>