<h1>Authors</h1>

@if (Model.Count == 0)
{
  <div class="alert alert-primary" role="alert">
    There are no authors in the system.
  </div>
}

<table class="table table-striped">
  @foreach (Author author in Model)
  {
    <tr>
      <td>@author.Name</td>
      <td><a asp-action="Details" asp-route-id="@author.AuthorId">View Details</a></td>
      <td>@Html.ActionLink("Edit author", "Edit", new { id = author.AuthorId })</td>
    </tr>
  }
</table>
<br>
<a class="btn btn-light" asp-action="Create">Add author</a>