div#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #e9ecef;
  padding: 12px;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 4%;
  border-radius: 10px;
}
