@model BookClub.Models.Genre

<h1>Edit Genre</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GenreId)
  <div class="form-group">
    @Html.LabelFor(m => m.Name)
    <input class="form-control" type="text" asp-for="Name">
  </div>
  <div class="form-group">
    <input class="btn btn-default" type="submit" value="Save Changes">
    <small class="form-text text-muted"><a asp-action="Index">Cancel</a></small>
  </div>
}