<h1>Book Club</h1>
<br>
<div class="row">
  <div class="col col-lg-4">
    <h2><a asp-controller="Books" asp-action="Index">books</a></h2>
    <table class="table table-striped">
      @foreach (Book book in ViewBag.BookList)
      {
        <tr>
          <td>@book.Title</td>
        </tr>
      }
    </table>
  </div>
  <div class="col col-lg-4">
    <h2><a asp-controller="Authors" asp-action="Index">authors</a></h2>
    <table class="table table-striped">
      @foreach (Author author in ViewBag.AuthorList)
      {
        <tr>
          <td>@author.Name</td>
        </tr>
      }
    </table>
  </div>
  <div class="col col-lg-4">
    <h2><a asp-controller="Genres" asp-action="Index">genres</a></h2>
    <table class="table table-striped">
      @foreach (Genre genre in ViewBag.GenreList)
      {
        <tr>
          <td>@genre.Name</td>
        </tr>
      }
    </table>
  </div>
</div>




