<h1>Book Club</h1>
<br>
<div class="row">
  <div class="col col-lg-4">
    <h2>books</h2>
    <hr>
  </div>
  <div class="col col-lg-4">
    <h2>authors</h2>
    <hr>
  </div>
  <div class="col col-lg-4">
    <h2>genres</h2>
    <hr>
  </div>
</div>
<br>
<br>
<p>@Html.ActionLink("See all books", "Index", "Books")</p>
<p>@Html.ActionLink("See all authors", "Index", "Authors")</p>

