@{
  Layout = "_Layout";
}

<h1>Book Club: Homepage</h1>

<p>@Html.ActionLink("Enter site", "Index", "Account")</p>
<p>@Html.ActionLink("See all books", "Index", "Books")</p>
<p>@Html.ActionLink("See all authors", "Index", "Authors")</p>

